.mainTravel {
    min-height: 100vh;
}

.title {
    background: linear-gradient(135deg, rgb(183, 111, 230), rgb(238, 159, 11)) !important;
    background-clip: text !important;
    color: transparent !important;
}

.voyg {
    background-color: rgba(0, 255, 238, 0.823) !important;
}



@media (max-width:780px) {
    .align-items-center .small:first-child {
        font-size: 120%;
    }

    .align-items-center div {
        margin-bottom: 8px !important;
    }

    .endTrajet {
        font-size: 18px !important;
    }

    .voyg {
        font-size: 12px !important;
    }

}